@font-face {
    font-family: "ITC Avant Garde Gothic W05 Book";
    src: url("https://db.onlinewebfonts.com/t/8e59fdbc7a7fdb1bab1b12af14615047.eot");
    src: url("https://db.onlinewebfonts.com/t/8e59fdbc7a7fdb1bab1b12af14615047.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8e59fdbc7a7fdb1bab1b12af14615047.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8e59fdbc7a7fdb1bab1b12af14615047.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8e59fdbc7a7fdb1bab1b12af14615047.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8e59fdbc7a7fdb1bab1b12af14615047.svg#ITC Avant Garde Gothic W05 Book")format("svg");
}

* {
    margin: 0;
    padding: 0; 
    font-family: "ITC Avant Garde Gothic W05 Book"; 
}

/* Container */ 

.container-recipe {
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    url(https://i.pinimg.com/1200x/b5/ec/47/b5ec471048a8b4e7dadbd2ca2b085e84.jpg);
    background-position: center;
    background-size: cover;
}

/* Hero Section */ 

.hero-section {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Title Section */

.title-2 {
    font-style: italic;
    font-weight: 600;
}

.title-1, .title-2 {
    color: white; 
    font-size: 2.5vh; 
    text-align: center;
}

.line {
    width: 240px;
    margin: auto;
}

/* Image */ 

.image-recipe {
    text-align: center;
    margin-bottom: 12px;
}

.recipe-image {
    width: 280px; 
    margin-top: 12px; 
}

/* Description */ 

.recipe-description {
    color: white; 
    font-size: 1.5vh; 
    line-height: 18px;
}

/* Video */ 

.recipe-video {
    text-align: center;
}

/* Titles */

.ingredients-title, .steps-title {
    color: white; 
    font-size: 2vh; 
}

.steps-title {
    margin-top: 8px; 
}

/* Ingredients */

.ingredients-list {
    margin-top: 8px;
    margin-left: 24px; 
}

.ingredient {
    color: white; 
    font-size: 1.5vh; 
    margin-bottom: 4px;
}

/* Steps */

.recipe-steps {
    margin-top: 8px;
    margin-left: 24px; 
}

.step {
    color: white; 
    font-size: 1.5vh; 
    margin-bottom: 6px;
}

/* Back Button */ 

.button {
    text-align: center;
}

.back-button {
    display: inline-block; 
    
}

.back-button-style {
    background-color: white; 
    color: black; 
    padding: 10px 20px;
    margin-top: 4px;
    cursor: pointer;
    margin-top: 12px;
}

.back-button-style:hover {
    background-color: #DCEAF7;
    color: #119CEA; 
    margin-top: 12px;
}